<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apereo" >

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LaunchActivity_"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomePage_" >
        </activity>
        <activity
            android:name=".activities.PortletWebViewActivity_"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name=".activities.SplashActivity_"
            android:launchMode="singleTop"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".activities.LoginActivity_"
            android:launchMode="singleTop" >
        </activity>
        <service
            android:name=".services.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <provider
            android:name="org.apereo.utils.StubProvider"
            android:authorities="org.apereo.umobile.datasync.provider"
            android:exported="false"
            android:syncable="false" >
        </provider>
    </application>

</manifest>
